- @page_title = "The Medical Aesthetic Clinic - Useful and Related Links"

#primary
  %h1 Useful and related links

  = partial :'partials/link', locals: {uri: 'mailto:laura-hume@hotmail.co.uk', title: 'Laura Hume', description: 'My name is Laura Hume and I am a Remedial Soft Tissue Therapist.  This therapy is not only for sporty people and it is more than just a massage.  Although many issues can be brought on by sport, the biggest contributing factors to pain are postural or occupational.  Using postural assessment and a variety of techniques, which include massage, I can help to reduce muscular tension and stiffness, increase flexibility, address postural issues and assist the healing of any soft tissue or over-use injuries.  [I will be available at The Medical Aesthetic Clinic every Wednesday.  If you would like to book an appointment please contact me on 07833 490 017 or laura-hume@hotmail.co.uk'}

  = partial :'partials/link', locals: {uri: 'http://www.hotelduvin.com/hotels/winchester/', title: 'Hotel Du Vin Winchester', description: 'A unique luxury boutique hotel, situated across the road from The Medical Aesthetic Clinic.'}

  = partial :'partials/link', locals: {uri: 'http://uk-plastic-surgeon.co.uk/', title: 'Nicholas Bennett FRCS.', description: 'Plastic Surgery in Hampshire for breast augmentation, breast reduction, liposuction and abdominoplasty.'}

  = partial :'partials/link', locals: {uri: 'http://www.philgoughhealthandfitness.com/', title: 'Phil Gough - Health &amp; Fitness', description: 'Health and Fitness trainers based in the Basepoint Centre.'}

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/products/list'
