- @page_title = "Skin Tightening &amp; Fat Reduction at The Medical Aesthetic Clinic in Winchester"

#primary
  %h1 Skin Tightening &amp; Fat Reduction

  = partial :'partials/special-offer', locals: {current_page: 'cryolipolysis', type: 'primary'}

  %h2 Overview

  %p Cryo lipolysis is the ideal treatment for those wanting to reduce specific trouble spots of fat such as tummy, flanks, backs of arms and inner thigh area. Cryolipolysis is a viable alternative to surgical liposuction for light to moderate sculpting and has been shown in clinical trials to reduce localised fatty deposits. Cryo treatment is best suited to lose wobbly fat such as is found on the stomach. The treatment area is sucked up into an applicator where it is chilled to a point that causes the fat cells to die but leaves skin and other tissue unharmed.

  %h2 What Cryolipolysis can do for you 

  %ol
    %li Targets fat bulges that you really don’t want but haven’t managed to reduce with diet or exercise.
    %li It is a much more cost effective way to reduce those last little bulges without going under the knife.
    %li Unlike other treatments such as Laser Lipolysis (Strawberry Laser Lipo, iLipo and others) cryo doesn’t just empty the fat cells, it kills them.
    %li Cryo lipo  is a single treatment, no need to commit to weeks of treatment to see results.
    %li No exercise is required for the treatment to work and there is no down time afterwards.

  %h2 How Cryolipolysis works:

  %p The procedure kills fat cells by non-surgical means using extreme cold. Recent experiments in America showed that exposure to low temperatures can selectively damage subcutaneous fat while leaving skin intact.  Based on the idea that fat cells are more easily damaged by cooling than skin cells, cryolipolysis was developed by applying low temperatures to tissue. In addition to cold, the treatment makes use of a powerful vacuum to keep constant pressure and temperature on the area being treated. This is a highly effective fat reduction treatment which kills fat cells which your own body then disposes of via normal metabolic processes

#secondary
  = partial :'partials/treatments/list'
  = partial :'partials/gift-vouchers'
  = partial :'partials/special-offer', locals: {current_page: 'sclerotherapy', type: 'secondary'}
  = partial :'partials/find-us'
